{% extends 'bases/base.html' %}
{% block content %}
{% if data != None %}
<form method="POST">
    {% csrf_token %}
    <div class="container-fuild" style="overflow-x:hidden; ">
        <div class ="row" style="display: flex; width: inherit;">
            <div class="col-sm-4" style="width: 100vw; display: inline-block; align-items: center;">
                <button type="button" class="btn btn-primary" style="width:fit-content;" id="previousDoc" value="previousDoc" onclick="previousDoc_func()">Previous</button>
                <button type="submit" class="btn btn-primary" style="width:fit-content;" id = "save_data" name = "save_data" value ="{{document}}">Save Data</button>
                <button type="button" class="btn btn-primary" style="width:fit-content;" id = "page_size" name = "page_size" value ="A3" onclick="change_pagesize()">A3</button>
                <button type="button" class="btn btn-primary" style="width:fit-content;" id="nextDoc" value="nextDoc" onclick="nextDoc_func()">Next</i></button>
            </div>    
        </div>
        <div class="row" style="width: 100vw;">
            <div class="col-sm-4 overflow-y-auto" id="document_iframe1" style="height: 48vh; width: 100vw;">
                <iframe id="document_iframe2"   style="height: 50vh; width: 100vw; " src="/media/{{document}}"></iframe>
            </div>
            <div class="col-sm-4 overflow-y-auto" id="table_field" style ="height: 48vh; width: 100vw; align-items: center; justify-content: center; ">
                <table style ="align-items: center; justify-content: center;">
                    <tr>
                        {%  for field in forms %}
                            <td style="display: inline-block; width:fit-content; margin-left: 10px; margin-right: 10px; align-items: center;">
                                {{ field.errors }}
                                <div class ="mb-1" style="width:fit-content;">
                                    <label> {{ field.label_tag }} </label>
                                </div>
                                <div class ="form_field mb-1" id = "data_filed" style="width:fit-content;">
                                    {{ field }}
                                </div> 
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
    <script>

        var current_doc = "{{document}}";
        
        var i=0, max_i;
        max_i = data.length;
        
        var iframe2 = document.getElementById('document_iframe2');
        var button_value = document.getElementById('save_data');
        
        function nextData_func(){

        }
        function previousData_func(){

        }
        function change_pagesize(){
            var change_pagesize_btn = document.getElementById('page_size');
            iframe1 = document.getElementById('document_iframe1');
            table_field = document.getElementById('table_field');
            if (change_pagesize_btn.textContent == "A3")
            {
                change_pagesize_btn.textContent = "A4";

                iframe1.setAttribute('style', 'height: 100vh; width: 80vw;');
                iframe2.setAttribute('style', 'height: 100vh; width: 80vw;');
                table_field.setAttribute('style', 'height: 100vh; width: 20vw;');


            }
            else
            {
                change_pagesize_btn.textContent = "A3";
                iframe1.setAttribute('style', 'height: 50vh; width: 100vw;');
                iframe2.setAttribute('style', 'height: 50vh; width: 100vw;');
                table_field.setAttribute('style', 'height: 50vh; width: 100vw;');
            }
        }
    </script>

{% endif %}
{% endblock %}


    