{% extends 'bases/base.html' %}

{% block content %}
<div class="container" >
    <div class="d-flex justify-content-center mb-4">
        <form class="mb-4" method="post" enctype ="multipart/form-data" action="{% url 'import'%}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Project</label>
                <select class="form-select" id="inputGroupSelect01" name = "project_select" style ="width: 150px;">
                    <option selected>Choose...</option>
                    {% for project in projects %}
                        <option value="{{project.project_name}}">{{project.project_name}}</option>
                    {% endfor %}
                </select>
                <input class="form-control form-control-lg" style ="width: 400px;"name ="document" type="file" aria-describedby="button-addon1" multiple>
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" type="submit" id="button-addon1" data-mdb-ripple-color="dark">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container-sm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="text-align:center">#</th>
                {% if user.is_superuser %}
                    <th scope="col">Upload By</th>
                    
                {% endif %}
                <th scope="col">Project Name</th>
                <th scope="col">Document Name</th>
                <th scope="col" style="text-align:center">Insert Status</th>
                <th scope="col" style="text-align:center">Check Status</th>
                <th scope="col" style="text-align:center">Created on</th>
                {% if user.is_superuser %}
                    <th style="text-align:center">Delete File Only </th>
                    <th style="text-align:center">Delete Data</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    {% if user.is_superuser %}
                        <td>{{document.user.username}}</td>
                    {% endif %}
                    <td>{{document.project.project_name}}</td>
                    <td>{{document.document_name}}</td>                    
                    <td align="center" valign="center">{{document.insert_status}}</td>
                    <td align="center" valign="center">{{document.check_status}}</td>
                    <td>{{document.created_at}}</td>
                    {% if user.is_superuser %}
                        <td align="center" valign="center" ><a class "btn btn-danger" href="{% url 'delete' 'document_file' document.id %}">X</a></td>
                        <td align="center" valign="center"><a class "btn btn-danger" href="{% url 'delete' 'document_dataS' document.id %}">X</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
