{% extends 'bases/base.html' %}

{% block content %}
<div class="container-sm">
    <div class="d-flex justify-content-center mb-4">
            <div class="col-4">
              <form method="post" action="{% url 'project'%}">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <label class="input-group-text" for="username">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="Enter your User Name">
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text" for="password" >Password</label>
                  <input type="text" class="form-control" name="password" placeholder="Enter your Password">
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text" for="input_project_select">Project</label>
                  <select class="form-select" id="input_project_select" name = "project_select" >
                      <option selected>Choose...</option>
                      {% for project in projects %}
                          <option value="{{project.project_name}}">{{project.project_name}}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text" for="description" >Description</label>
                  <input type="text" class="form-control" name="description" placeholder="Enter your description">
                </div>
                <center>
                  <button type="submit" class="btn btn-primary">Add</button>
                </center>        
              </form>
            </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="text-align:center">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Password</th>
                <th scope="col">User Type</th>
                <th scope="col">Project</th>
                <th scope="col">Description</th>
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.project}}</td>
                    <td>{{project.project_description}}</td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
